{% extends 'PageBundle::html.html.twig' %}


{% block title %}Przypominacz{% endblock %}
{% block pageTitle %}Przypominacz{% endblock %}



{% block pageContainer %}
<div class="box" xmlns="http://www.w3.org/1999/html">

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form action="{{ path ('get_question_route') }}" id="login_form" method="get">
                <input name="username" type="text" placeholder="Podaj login"/>
                <button type="submit">Przypomnij</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form action="{{ path ('get_question_route') }}" id="login_form" method="get">
                <input name="username" type="text" placeholder="Podaj login"/>
                <button type="submit">Przypomnij</button>
            </form>
        </div>
    </div>


</div>
{% endblock %}