{% extends 'PageBundle::html.html.twig' %}


{% block title %}Logowanie{% endblock %}
{% block pageTitle %}Logowanie{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pageContainer %}

    {% trans_default_domain 'FOSUserBundle' %}
    {% block body %}
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Potwierdzenie rejestracji</h3>
                </div>
                <div class="panel-body">
                    <div class="wrapper main-page">
                        <section class="content slide-left">
                            <div class="authors">
                                {% block fos_user_content %}
                                    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                                    {% if app.session is not empty %}
                                        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                                        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
                                    {% endif %}
                                {% endblock fos_user_content %}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}